#plan-title {
  font-size: 30px;
  color: $green;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

#plan-container {
  min-height: 650px;
  padding-bottom: 50px;
  display: flex;
  @media (max-width: 750px) {
    flex-direction: column;
  }
}

#widget-container {
  width: 50%;
  @media (max-width: 750px) {
    width: auto;
  }
}

#filesubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  flex-direction: column;
  padding-right: 100px;
  width: 50%;
  @media (max-width: 750px) {
    width: auto;
    padding: 0 10%;
  }
  h4 {
    color: $green;
    margin-bottom: 20px;
  }
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.message_upload {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 10px 40px;
  font-size: 22px;
}

#success_message,
#upload_message {
  @extend .message_upload;
  color: $green;
  border: 1px solid $green;
}

#error_message {
  @extend .message_upload;
  color: $red;
  border: 1px solid $red;
}

#widget-booking-content {
  // i-frame
  display: flex;
  justify-content: center;
}

#oa_widget {
  display: flex !important;
  justify-content: center !important;
}

#file-input {
  margin: 10px 0 20px;
}
