


#price-list{
  max-width: 1150px;
  margin: 0 auto;
}

#price-header{
  color: $green;
  padding: 30px;
}

.text-makelaars{
  color: black;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 55px;
  margin-left: 7px;
}


.table-first{
  width: 30%;
}

.table-second{
  width: 60%;
}

.table-third{
  width: 20%;
}

.table-undertitle{
  font-size: 14px;
}


#tarieven-disclaimer{
  margin-bottom: 155px;
}
