
<div id="plan-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div id="widget-container">
          <h1 id="plan-title">Plan hier direct uw afspraak</h1>
          <div id="oa_widget" class="widget-js">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

	<div id="app"></div>

  <div id="filesubmit">
    <h4>Voeg hier de plattegrond van de woning toe</h4>
    <div class="upload-container">
      <input type="file" id="file-input" accept="image/*"/>
      <button id="file-submit" class="green-button">UPLOADEN</button>
    </div>
    <div class="hidden" id="success_message">Upload geslaagd!</div>
    <div class="hidden" id="error_message">Upload mislukt!</div>
    <div class="hidden" id="upload_message">Aan het uploaden...</div>
</div>

	<!-- Firebase App is always required and must be first -->
	<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js">

	</script>
	<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-storage.js"></script>


	<!-- Inicializa o firebase -->
	<script>
		var config = {
            apiKey: 'AIzaSyC1CGtfbS-TRGUkxeZthXIdY-Jq1Tek8y4',
            authDomain: "beeldpakket.firebaseapp.com",
            databaseURL: "https://beeldpakket.firebaseio.com",
            projectId: "beeldpakket",
            storageBucket: "beeldpakket.appspot.com",
            messagingSenderId: "42726494167",
            appId: "1:42726494167:web:2505f5387dedcd2e11c592"
          };
          firebase.initializeApp(config);
	</script>
	<!-- Nosso app -->
	<script src="./javascripts/file_upload.js">
	</script>


<script type="text/javascript" src="https://widget.onlineafspraken.nl/consumer/booking/book/key/dnhm15wdam77-ddzm15/at/0/ln/3/l/11111/t/38c/f/e0c010e/c/00aeef,00606e,111,00606e,f3b700,fff,0,fff/s/550_1500/o/theme:advanced,dp:modern,interval:week/exclude/mobiledetect/output/js">

</script>

