<div id="about-container">
  <div id="about-field">
    <div id="about-text">
      <h1>Over Beeldpakket:</h1>
      <h3>Beeldpakket is een in Amsterdam gevestigd beeldbedrijf. Wij verzorgen al het beeldmateriaal voor de verkoop van een woning. Beeldpakket hanteert een aanpak waarbij kwaliteit en de klant bovenaan staat.
      </h3>
    </div>
  </div>
  <div id="about-photo" class="d-none d-sm-block" style="background-image: url(<%= image_path 'overons1.jpg' %>);">

  </div>

</div>



