<div id="pakket-container">
  <div class="container">
    <h1 class="black text-center" id="pakket-title">Wij bieden de volgende pakketten aan: </h1>
  </div>

  <div class="pakket-card-container">

    <div class="pakket-card">
      <h1 class="pakket-title">
        <strong>Pakket Basis</strong>
      </h1>
      <ul class='pakket-text'>
        <li>Fotoreportage</li>
        <li>NEN2580 meetrapport incl. plattegronden</li>
      </ul>
      <%# <h3 class='pakket-price'>* € 195 excl. BTW</h3> %>
      <div class="pakket-button-container">
        <h3  class="green-button plan-button"><%= link_to "Direct inplannen", "/inplannen.html" %></h3>
      </div>
    </div>


    <div class="pakket-card">
      <h1 class="pakket-title">
        <strong>Pakket Plus</strong>
      </h1>
      <ul class='pakket-text'>
        <li>Fotoreportage</li>
        <li>NEN2580 meetrapport incl. plattegronden</li>
        <li>2x 360º foto</li>
        <li>Video</li>
      </ul>
      <%# <h3 class='pakket-price'>* € 265 excl. BTW</h3> %>
      <div class="pakket-button-container">
        <h3  class="green-button plan-button"><%= link_to "Direct inplannen", "/inplannen.html" %></h3>
      </div>
    </div>


    <div class="pakket-card">
      <h1 class="pakket-title">
        <strong>Pakket Compleet</strong>
      </h1>
      <ul class='pakket-text'>
        <li>Fotoreportage</li>
        <li>NEN2580 meetrapport incl. plattegronden</li>
        <li>2x 360º foto</li>
        <li>Video inclusief shots drone</li>
      </ul>
      <%# <h3 class='pakket-price'>* € 315 excl. BTW</%#> %>
      <div class="pakket-button-container">
        <h3  class="green-button plan-button"><%= link_to "Direct inplannen", "/inplannen.html" %></h3>
      </div>
    </div>


  </div>
    <h3 id="pakket-disclaimer">Als u interesse heeft in één van bovenstaande pakketten of in onze andere diensten, (bijvoorbeeld alleen een foto-opdracht) verzoeken wij u om een overzicht van onze tarievenlijst per email op te vragen.</h3>
<%# <h3 id="pakket-disclaimer">* Bovenstaande tarieven gelden voor woningen tot 100 m2. Als een woning groter is komt er € 65 per 100m2 bij .</%#> %>
</div>




