<%# <div id="makelaars-container">


  <!-- Prijslijst -->

  <div id="price-list">
    <h1 id="price-header" class="text-center">
      Tarieven
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pakketten</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>Pakket Basis</strong></td>
          <td class="table-second">Fotoreportage & NEN2580 meetrapport incl. plattegronden</td>
          <td class="table-third">€ 195</td>
        </tr>
        <tr>

          <td class="table-first"><strong>Pakket Plus</strong></td>
          <td class="table-second">Als Pakket Basis, plus video en 2x 360° foto</td>
          <td class="table-third" >€ 265</td>
        </tr>
        <tr>
          <td class="table-first"><strong>Pakket Compleet</strong></td>
          <td class="table-second">Als Pakket Plus, inclusief drone video</td>
          <td class="table-third">€ 315</td>
        </tr>
      </tbody>
    </table>

  <h3 class="text-makelaars">Bovenstaande tarieven gelden voor woningen tot 100 m2. Als een woning groter is komt er € 65 per 100m2 bij .
  </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Fotografie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>Woning fotografie</strong></td>
          <td class="table-second">tot 100m2</td>
          <td class="table-third">€ 145</td>
        </tr>
        <tr>
          <td class="table-first"><strong>Woning fotografie</strong></td>
          <td class="table-second">vanaf 100m2</td>
          <td class="table-third">€ 175</td>
        </tr>
        <tr>
          <td class="table-first"><strong>360° foto</strong></td>
          <td class="table-second"></td>
          <td class="table-third">€ 25</td>
        </tr>

      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Video</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>Woning video</strong></td>
          <td class="table-second">walk-through</td>
          <td class="table-third">€ 125</td>
        </tr>

      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Artist impressie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>Artist impressie woning</strong></td>
          <td class="table-second"></td>
          <td class="table-third">Op aanvraag</td>
        </tr>

      </tbody>
    </table>


<table class="table">
      <thead>
        <tr>
          <th scope="col">Metingen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>NEN2580 meetrapport</strong></td>
          <td class="table-second">tot 100 m2</td>
          <td class="table-third">€ 135</td>
        </tr>
        <tr>
          <td class="table-first table-undertitle"><strong>incl. plattegronden</strong></td>
          <td class="table-second">100 tot 200 m2</td>
          <td class="table-third">€ 185</td>
        </tr>
        <tr>
          <td class="table-first"><strong></strong></td>
          <td class="table-second">200 tot 300 m2</td>
          <td class="table-third">€ 235</td>
        </tr>
        <tr>
          <td class="table-first"><strong></strong></td>
          <td class="table-second">300 tot 400 m2</td>
          <td class="table-third">€ 285</td>
        </tr>

      </tbody>
    </table>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Metingen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>NEN2580 meetrapport (BOG) </strong></td>
          <td class="table-second">BOG tot 250 m2</td>
          <td class="table-third">€ 200</td>
        </tr>
        <tr>
          <td class="table-first table-undertitle"><strong>incl. plattegronden</strong></td>
          <td class="table-second">BOG van 250 tot 500 m2</td>
          <td class="table-third">€ 350</td>
        </tr>
        <tr>
          <td class="table-first"><strong></strong></td>
          <td class="table-second">BOG van 500 tot 1000 m2</td>
          <td class="table-third">€ 500</td>
        </tr>


      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Verkoopstyling</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-first"><strong>Styling - voor fotografie.</strong></td>
          <td class="table-second">Laat uw woning stylen door onze styliste</td>
          <td class="table-third">Op aanvraag</td>
        </tr>

      </tbody>
    </table>

    <h3 id="tarieven-disclaimer" class="text-makelaars">De bovenstaande tarieven zijn exclusief BTW en onder voorbehoud van wijzigingen.
  </h3>
  </div>


</div>


 %>
